# OS-specific
.DS_Store

# editors
*.swp
.idea

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
Gemfile.lock

# Vagrant
.vagrant
Vagrantfile
!example_box/Vagrantfile

# RVM files for gemset/ruby setting
.ruby-*
.rvmrc
